* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Pangolin, sans-serif;
    background: linear-gradient(to bottom, #ade2ff, #cff0ff); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}
    
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    
}

.flex-item {
    background-color: #fdfdfd;
    border: 2px solid #000000;
    padding: 50px;
    border-radius: 8px;
    min-width: 250px;
    text-align: center;
    transition: transform .1s;
}

.flex-item h2 {
    color: #000000;
    margin-bottom: 15px;
}

.flex-item p {
    color: #000000;
    font-size: 18px;
}

a{
    color: #000000;
    text-decoration: none;
}

.flex-item:hover {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

a:hover {
    text-decoration: underline;
}
